$main-color: #C19C77;	/* Main Primary color */
$hover-color: rgb(241, 198, 154);
$c2: #405768;
$c3: #193141;
$c4: #0C202F;
$background-color: rgb(255, 255, 255);
$font-stack: Palatino Linotype, Book Antiqua, Palatino, serif;